<section id="footer">

    <footer>
	  <div class="footer-contact">
	    <p><i class="fa fa-phone"></i> +38 (099) 456-78-90</p>
	    <p><i class="fa fa-envelope"></i> info@example.com</p>
	  </div>
	  <div class="footer-logo">
	    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
	  </div>
	  <div class="footer-social">
	    <img src="{{ url_for('static', filename='img/telegram.png') }}" alt="Telegram">
	    <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram">
	    <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook">
	  </div>

	</footer>

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</section>